body {
	background-color: #f0f0f0;
	/** backgrpund image here */
}
.login-container {
	margin-top: 15vh;
}
.child-container {
	padding: 1px 20px 0px 20px;
	background-color: white;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 3px 1px 5px 4px #dcdcdc;
	-moz-box-shadow: 3px 1px 5px 4px #dcdcdc;
	box-shadow: 3px 1px 5px 4px #dcdcdc;
	border-radius: 10px;
}
.submitBtn {
	padding-top: 7px;
	padding-bottom: 7px;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
}
.createBtn {
	padding-top: 7px;
	padding-bottom: 7px;
	width: 70%;
	font-weight: bold;
	font-size: 20px;
}

.footer {
	background-color: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 7vh;
}
.card {
	border: 1px solid #f0f0f0;
	width: 140px;
	position: relative;
	border-radius: 10px;
	-webkit-box-shadow: 3px 1px 5px 4px #e0e0e0;
	-moz-box-shadow: 3px 1px 5px 4px #e0e0e0;
	box-shadow: 3px 1px 5px 4px #e0e0e0;
}
.card:hover {
	-webkit-box-shadow: 0px 0px 0px 0px #f8f8f8;
	-moz-box-shadow: 0px 0px 0px 0px #f8f8f8;
	box-shadow: 0px 0px 0px 0px #f8f8f8;
}
.top-card {
	padding: 45px 0px 45px 0px;
	background-color: #f5f5f5;
	cursor: pointer;
}
.bottom-card {
	padding: 5px 0px 5px 0px;
}
.add-btn {
	border-radius: 100px;
	color: white;
	padding: 0px 12px 0px 12px;
}
a:hover {
	text-decoration: none;
}
